﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/gentelella/production/images/engranajes.ico" />
    <link rel="apple-touch-icon image_src" href="~/Content/gentelella/production/images/jumex-help-desk.ico">
    <title>Jumex Business Intelligence </title>
    <!-- Bootstrap -->
    <link href="~/Content/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/gentelella/build/css/custom.min.css" rel="stylesheet">
    @*<base href="/QA_HelpDesk"/>*@
    <base href="" />
    @RenderSection("styles", required: false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Home/Index" class="site_title" style="position:relative; right:30px;"><img width="40" height="40" src="~/Content/gentelella/production/images/engranajes.png" /> <span>Jumex BI</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    @if (Request.IsAuthenticated)
                    {
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="~/Content/gentelella/production/images/avatar01.png" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Bienvenido</span>
                                @if (User.IsInRole("MesaAyuda"))
                                {
                                    <h2>Mesa de ayuda</h2>
                                }
                                else if (User.IsInRole("Resolutor"))
                                {
                                    <h2>Resolutor</h2>
                                }
                                else if (User.IsInRole("Administrador"))
                                {
                                    <h2>Administrador</h2>
                                }
                                else
                                {
                                    <h2>Colaborador</h2>
                                }
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <br />
                    }
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>DASHBOARD</h3>
                            @if (Request.IsAuthenticated)
                            {
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Home"><i class="fa fa-home"></i> Inicio</a>
                                </li>
                                <li>
                                    @*<a href="~/Home"><i class="fa fa-dashboard"></i> Logistica</a>*@
                                    <a><i class="fa fa-dashboard"></i>Logistica <span class="fa fa-chevron-down"></span> </a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="~/DashboardLogistica/Index">Nivel de Servicio</a>

                                        </li>
                                    </ul>


                                </li>
                            </ul>
                            }
                            </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            @if (!Request.IsAuthenticated)
                            {
                                <li class="">
                                    <a href="~/Account/SignIn">
                                        Iniciar sesión
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="~/Content/gentelella/production/images/avatar01.png" alt="">@User.Identity.Name
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="~/Account/SignOut"><i class="fa fa-sign-out pull-right"></i> Cerrar sesión</a></li>
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bell"></i>
                                        <span class="badge bg-green badge-notifications">0</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <div class="text-center">
                                                <a href="~/Ticket/Index">
                                                    <strong>Ver mis tickets</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                        @if (User.IsInRole("Resolutor"))
                                        {
                                            <li>
                                                <div class="text-center">
                                                    <a href="~/Tarea/Index">
                                                        <strong>Ver mis tareas</strong>
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
                <!--

                -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Copyright &copy; @DateTime.Now.Year <a href="http://grupojumex.mx/" target="_blank">Grupo Jumex</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <iframe id="renewSessioniframe" style="visibility:hidden; display:none"></iframe>

    <!-- jQuery -->
    <script src="~/Content/gentelella/vendors/jquery/dist/jquery.min.js"></script>
    <!--Sentry IO-->
    <script src="~/Content/plugins/raven-js/dist/raven.min.js"></script>
    <script>Raven.config('https://72e20b8651604315ae486027fa247a9b@sentry.io/225527').install();</script>
    <!-- Bootstrap -->
    <script src="~/Content/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/gentelella/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Scripts/totalTickets.js"></script>
    @*<script>
        $(document).ready(function () {
            totalTickets.init();
        });
    </script>*@
    @RenderSection("scripts", required: false)
    <!-- Custom Theme Scripts -->
    <script src="~/Content/gentelella/build/js/custom.min.js"></script>
    <script type="text/javascript">
        setInterval(function () {
            @if (Request.IsAuthenticated)
            {
                <text>
            var renewurl = base + "/Account/ForcedSignIn";
            document.getElementById('renewSessioniframe').src = renewurl;
                </text>
            }
        }, 1000 * 60 * 20);
    </script>
</body>
</html>
