﻿
@{
    ViewBag.Title = "Home";
}

<div class="col-md-6">
    <img src="~/Content/gentelella/production/images/logoprinicpal.png" />
</div>
<div class="col-md-6" style="padding: 194px 0px 0px 75px;">
    <h2>Bienvenidos a Jumex</h2>
    <h1>Business Intelligence</h1>
</div>



