﻿#boton {
cursor:pointer;
}
#detalle {
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
   
}

#conte {
    white-space: nowrap;
    height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: normal;
}
#botonmaspublic {
cursor:pointer;
}
