﻿
@{
    ViewBag.Title = "DashboardLogistica";
}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMzVmNGY4MTgtYmNkOS00NDY3LWE4NDUtOGM0NTQwNjJkNzY3IiwidCI6ImE4OGVmYWZkLTE5NTMtNGU3Zi1hN2E0LWE5ZTZiNzJjYjJmNSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </div>
</div>